<div class="mt-6">
    <form method="POST" action="/product/store">
        <div class="mb-3 form-check">
            <label class="form-check-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name"/>
        </div>
        <div class="mb-3 form-check">
            <label class="form-check-label" for="itemTitle">Title</label>
            <input type="text" class="form-control" id="itemTitle" name="itemTitle"/>
        </div>
        <div class="mb-3 form-check">
            <label class="form-check-label" for="itemPrice">Price</label>
            <input type="text" class="form-control" id="itemPrice" name="itemPrice"/>
        </div>
        <div class="mb-3 form-check">
            <label class="form-check-label" for="videoId">VideoId</label>
            <input type="text" class="form-control" id="videoId" name="videoId"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>